/* Write your CSS here */
.container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-size: 40px;
  font-weight: 800;
  font-family: 'Bree Serif';
  color: #f0bb03;
}
.paragraph {
  font-size: 30px;

  font-family: 'Bree Serif';
  color: #ffffff;
}
.button {
  width: 100px;
  height: 30px;
  font-family: 'Bree Serif';
  border-radius: 8px;
  border-width: 0;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 45;
  }
  .button {
    font-size: 18px;
  }
}
